body
{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    

}
.first-section
{
    display: flex;
}
.section-div
{
    padding-left: 7%;
    padding-right: 8%;
    padding-top: 5%;
    width: 50%;
    margin-top: 50px;
}
.section-div img
{
    width: 60%;
    padding-bottom: 200px;
    
}
.first-left1
{
    font-family:'Times New Roman', Times, serif;
    border-left: 5px solid rgb(33, 161, 165);
    background-image: -moz-linear-gradient(rgb(212, 82, 82));
    border-image-slice: 1;
    font-size: 25px;
    box-shadow: 2px 2px 10px rgb(241, 239, 239);
}
.red-color
{
    color: rgba(223, 20, 20, 0.993);
}
.first-btn1
{
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-color: rgb(211, 224, 24);
    padding: 5px 15px ;
}
/*second section start*/
.second-section
{
    text-align: center;
}
.all-mission
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
}
.all-part1
{
    background-color: rgba(209, 230, 25, 0.377);
    width: 290px;
    margin-bottom: 50px;
    
    border: 1px solid gray;
    border-radius: 6px;
}
.all-part2
{
    background-color: rgb(247, 212, 218);
    width: 290px;
    margin-bottom: 50px;
    
    border: 1px solid gray;
    border-radius: 6px;
}
.all-part3
{
    background-color: rgba(153, 210, 248, 0.74);
    width: 290px;
    margin-bottom: 50px;
    
    border: 1px solid gray;
    border-radius: 6px;
}
.second-img img
{
    width: 100%;
}
.second-info-section
{
    padding: 5%;
}

/*Third section start*/

.third-section
{
    display: flex;
}
.third-section img
{
    width: 100%;
}
.font-bold
{
    font-weight: bold ;
}
#tr-slice1
{
    border-left: 7px solid rgb(168, 9, 189);
    border-image-slice: 1;
    box-shadow: 2px 2px 10px rgb(197, 193, 193);
}
#tr-slice2
{
    border-left: 7px solid rgb(41, 247, 0);
    border-image-slice: 1;
    box-shadow: 2px 2px 10px rgb(197, 193, 193);
}


/*Fourth section start*/
.fourth-section
{
    display: flex;
}
/*Fifth section start*/

.fifth-section
{
    text-align: center;
}
.fourth-section img
{
    width: 100%;
}
.last-section
{
    display: flex;
}

#tr-slice
{
    border-left: 7px solid rgb(255, 8, 8);
    border-image-slice: 1;
    box-shadow: 2px 2px 10px rgb(197, 193, 193);
}
.last-div
{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    width: 50%;
}
.last-div img
{
    
    width: 100%;
    padding-bottom: 200px;
}

.last-footer
{
    text-align: center;
    color: white;
    background-color: rgb(14, 10, 24);
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;    
}
#footer1
{
    font-weight: 700;
    font-family: 'Island Moments', cursive;
}

.any-color
{  
    color: rgb(228, 51, 74);
}
