body
{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}
.first-section
{
    display: flex;
}
.section-div
{
    width: 50%;
    margin-top: 50px;
}
.section-div img
{
    width: 60%;
    padding-bottom: 200px;
}
.first-left1
{
    border-left: 7px solid rgb(33, 161, 165);
    background-image: -moz-linear-gradient(rgb(212, 82, 82));
    border-image-slice: 1;
    font-size: 20px;
}
.red-color
{
    color: rgb(185, 39, 39);
}
.first-btn1
{
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-color: rgb(211, 224, 24);
    padding: 5px 15px ;
}
/*second section start*/
.second-section
{
    text-align: center;
}
.all-mission
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.all-part1
{
    background-color: rgba(214, 252, 178, 0.74);
    width: 290px;
    margin-bottom: 50px;
    
    border: 1px solid gray;
    border-radius: 6px;
}
.all-part2
{
    background-color: rgb(247, 212, 218);
    width: 290px;
    margin-bottom: 50px;
    
    border: 1px solid gray;
    border-radius: 6px;
}
.all-part3
{
    background-color: rgba(153, 210, 248, 0.74);
    width: 290px;
    margin-bottom: 50px;
    
    border: 1px solid gray;
    border-radius: 6px;
}
.second-img img
{
    width: 100%;
}
.second-info-section
{
    padding: 5%;
}

/*Third section start*/

.third-section
{
    display: flex;
}
.font-bold
{
    font-weight: bold ;
}

/*Fourth section start*/
.fourth-section
{
    display: flex;
}

#footer1
{
    text-align: center;
    color: white;
    background-color: rgb(14, 10, 24);
    padding-top: 1%;
    padding-bottom: 1%;
}
.any-color
{
    color: rgb(228, 51, 74);
}
